{
    admin off
    layer4 {
        :9000 {
            @allowed {
                remote_ip {$ALLOWED_IPS}
            }
            route @allowed {
                proxy step-ca:9000
            }
        }
    }
}
