{

	layer4 {
		"0.0.0.0:9000" {
			@allowed remote_ip {$ALLOWED_IPS}
			route @allowed {
				proxy step-ca:9000
			}
		}
	}
	

	log {
		output file /var/log/caddy/access.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 720h
		}
		format json
		level INFO
	}
}

:80 {
root * /var/www/html
file_server
}
